@media only screen and (max-height: 600px) {
    .container {
        position:relative;
    }
}

.container1 {
    position: relative;
    text-align: center;
    font-family: Arial;
    height: auto;
    margin-bottom: auto;
}

.dayContainer {
    width: 100%;
    overflow: hidden;
    position:relative;
    border-left: 1px solid black;
}

body {
    margin: 0%;
    padding: 0%;
    min-width: 100%;
    position: absolute;
}

.contain {
    width: 19%;
    float: left;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

.temp {
    margin-bottom: auto;
}

.days {
    margin-top: 20px;
}

#temp {
    font-size: 64px;
}

#ambientWeather {
    margin-bottom: 25px;
}